{% extends "layout.html" %}

{% block main %}
<h1>Crossbar.io Docs [DEV]</h1>
<p>
    This is the development version of the Crossbar.io documentation and the Crossbar.io IoT Cookbook. The contents here is exactly the same as deployed on <strong>http://crossbar.io</strong>, but without styling and embedding into the larger Crossbar.io web site.
</p>
<p>
    <ul>
        <li><a href="docs">Crossbar.io Documentation</a></li>
        <li><a href="iotcookbook">Crossbar.io IoT Cookbook</a></li>
    </ul>
</p>
{% endblock %}
